Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust

tighten tolerances
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

formatting
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_common.py
  onedal/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_common.py
  onedal/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

fixes for older sklearn
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

Update common.py
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update coordinate_descent.py
  sklearnex/linear_model/coordinate_descent.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

move all logreg tests to sklearnex
  daal4py/sklearn/linear_model/tests/test_logreg.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _forest.py
  sklearnex/ensemble/_forest.py
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust, @david-cortes-intel

Update _forest.py
  sklearnex/ensemble/_forest.py
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust, @david-cortes-intel

Updated format.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Fix what is being passed into namespace.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Updated format.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Updated init.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Updated format.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fixed init.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Updated name.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

[Fix] [Array API] Raise AttributeError for non-homogen tables in __sycl_usm_array_interface__ to comply with Python interop expectations (#2640)
  onedal/datatypes/sycl_usm/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

more adjustments for tolerances
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

grammar
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

remove unnecessary conditions
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

experiment
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

note about the icd package under conda (#2644)
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

Enable common arguments for pytest
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update common.hpp
  onedal/datatypes/common.hpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update common.hpp
  onedal/datatypes/common.hpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _device_offload.py
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Store pytest verbosity args in common file
  .ci/scripts/run_sklearn_tests.py
  .pytest-verbosity-args
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Owners: @Alexsandruss, @icfaust, @homksei, @ahuber21, @ethanglaser, @david-cortes-intel, @napetrov

Fix typos in script
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Linting
  .ci/scripts/run_sklearn_tests.py
Owners: @Alexsandruss, @icfaust
