Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @maria-Petrova, @david-cortes-intel, @razdoburdin, @avolkov-intel

fix: move git config back to yml
  .github/scripts/doc_release.sh
  .github/workflows/docs-release.yml
Owners: @Alexsandruss, @icfaust, @napetrov, @homksei, @ahuber21, @ethanglaser

fix: trigger docs.yml when docs-relase.yml changes
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .github/workflows/ci.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

fix: endline to doc_release
  .github/scripts/doc_release.sh
Owners: @Alexsandruss, @icfaust

ci-test: run again
  .github/scripts/doc_release.sh
Owners: @Alexsandruss, @icfaust

ci-test: run again
  .github/scripts/doc_release.sh
Owners: @Alexsandruss, @icfaust

chore: update documentation on config parameters
  onedal/_config.py
  sklearnex/_config.py
Owners: @Alexsandruss, @icfaust

formatting / remove default values
  onedal/_config.py
Owners: @Alexsandruss, @icfaust

Add Ridge Regression examples using Intel® Extension for Scikit-learn
  examples/notebooks/ridge_regression_bike_sharing.ipynb
  examples/notebooks/ridge_regression_fraud_detection.ipynb
  examples/notebooks/ridge_regression_higgs.ipynb
Owners: @maria-Petrova, @Alexsandruss, @napetrov

Add Jupyter Notebook example - RandomForestClassifier (#1)
  examples/notebooks/random_forest_rain.ipynb
Owners: @maria-Petrova, @Alexsandruss, @napetrov

Add Ridge Regression examples using Intel® Extension for Scikit-learn (#2)
  examples/notebooks/ridge_regression_bike_sharing.ipynb
  examples/notebooks/ridge_regression_fraud_detection.ipynb
  examples/notebooks/ridge_regression_higgs.ipynb
Owners: @maria-Petrova, @Alexsandruss, @napetrov

fix merge errors
  onedal/cluster/dbscan.py
  onedal/covariance/covariance.py
  onedal/ensemble/forest.py
  onedal/linear_model/incremental_linear_model.py
  onedal/linear_model/linear_model.py
  onedal/linear_model/logistic_regression.py
  sklearnex/ensemble/_forest.py
Owners: @Alexsandruss, @icfaust, @ahuber21

update README.md
  examples/notebooks/README.md
Owners: @maria-Petrova, @Alexsandruss, @napetrov

mention SPMD
  onedal/_config.py
Owners: @Alexsandruss, @icfaust

Mention SPMD, formatting
  sklearnex/_config.py
Owners: @Alexsandruss, @icfaust

fix: trigger on any python source
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

ci-test: test doc change
  sklearnex/manifold/t_sne.py
Owners: @Alexsandruss, @icfaust

Add rbf_kernel Function (#3)
  examples/notebooks/benchmark_rbf_kernel.ipynb
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/tests/test_metrics.py
Owners: @maria-Petrova, @Alexsandruss, @napetrov, @icfaust

fix: only python files under sklearnex and daal4py
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

ci-test: print
  sklearnex/manifold/t_sne.py
Owners: @Alexsandruss, @icfaust

ci-test: print
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

ci-test: print
  sklearnex/manifold/t_sne.py
Owners: @Alexsandruss, @icfaust

ci-test: print
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

ci-test: print
  .ci/pipeline/docs.yml
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

feat: Add OASEstimator class with oneDAL support and corresponding tests
  sklearnex/covariance/oas_estimator.py
  sklearnex/tests/test_oas_estimator.py
Owners: @Alexsandruss, @icfaust

.github/CODEOWNERS:

# Infra and tools
.*                            @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel
doc/                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel

# sklearnex
onedal/                       @Alexsandruss @icfaust
sklearnex/                    @Alexsandruss @icfaust

# Examples
examples/                     @maria-Petrova @Alexsandruss @napetrov

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel

# Forests
*ensemble*                    @ahuber21 @icfaust

# Testing
**/test*.py                   @Alexsandruss @icfaust
deselected_tests.yaml         @Alexsandruss @icfaust
tests/                        @Alexsandruss @icfaust

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
