Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

local fixes
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
  onedal/tests/prototype.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @Vika-F

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

swap to setup.cfg
  .ci/scripts/run_sklearn_tests.sh
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
  pytest.ini
  setup.cfg
Owners: @Alexsandruss, @icfaust, @napetrov, @david-cortes-intel

further fixes
  .github/.licenserc.yaml
  setup.cfg
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @napetrov, @david-cortes-intel

Update _pairwise.py
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @icfaust

Update dependencies-dev
  dependencies-dev
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update setup.cfg
  setup.cfg
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update _pairwise.py
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @icfaust

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update __init__.py
  sklearnex/__init__.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update run_test.bat
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update _pairwise.py
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @icfaust

set NO_DIST=1 for tests that don't run distributed mode
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

[enh] generalize pytest configuration files (#2687)
  .ci/scripts/run_sklearn_tests.sh
  .github/.licenserc.yaml
  .pytest-verbosity-args
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
  setup.cfg
Owners: @Alexsandruss, @icfaust, @homksei, @ahuber21, @ethanglaser, @david-cortes-intel, @napetrov

put daal4py distributed examples under 'main()' body
  examples/daal4py/linear_regression_spmd.py
  examples/daal4py/naive_bayes_spmd.py
  examples/daal4py/pca_spmd.py
  examples/daal4py/ridge_regression_spmd.py
Owners: @ethanglaser

fix incorrect data paths
  examples/daal4py/linear_regression_spmd.py
  examples/daal4py/naive_bayes_spmd.py
  examples/daal4py/ridge_regression_spmd.py
  tests/test_daal4py_spmd_examples.py
Owners: @ethanglaser

Update test_patching.py
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update test_common.py
  sklearnex/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_memory_usage.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_run_to_run_stability.py
  sklearnex/tests/test_run_to_run_stability.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update base.py
  sklearnex/tests/utils/base.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_patching.py
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
