Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

try again
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

try again
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

move validate_data
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Revert dpctl/dpnp installation
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

reformat
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

try again
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

merged other changes.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

try to lazy import changes for dpnp
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_sycl_usm.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

try with the spelling correction
  onedal/datatypes/_sycl_usm.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

try again
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update coordinate_descent.py
  sklearnex/linear_model/coordinate_descent.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update coordinate_descent.py
  sklearnex/linear_model/coordinate_descent.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Formated.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Fixed imports.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

fixed _get_onedal_params call error.
  onedal/cluster/kmeans.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fix issues related to dpctl/dpnp
  onedal/_device_offload.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_sycl_usm.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

further fixes
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

final hopefully
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

sometime I can be really dumb
  onedal/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

sometime I can be really dumb
  sklearnex/cluster/k_means.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _device_offload.py
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Enable common verbosity arguments for pytest (#2647)
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.sh
  .github/.licenserc.yaml
  .pytest-verbosity-args
  conda-recipe/meta.yaml
  conda-recipe/run_test.bat
  conda-recipe/run_test.sh
Owners: @Alexsandruss, @icfaust, @homksei, @ahuber21, @ethanglaser, @david-cortes-intel, @napetrov

loosen tolerance for too large or too small probabilities (#2653)
  tests/test_model_builders.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

fixes and requests
  onedal/_device_offload.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_sycl_usm.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

try to fix spmd use_raw_input issues
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fixes and requests
  sklearnex/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

[CI] upgrade dpctl/dpnp versions (#2414)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
  .github/renovate.json
  .github/workflows/ci.yml
  onedal/_device_offload.py
  onedal/datatypes/__init__.py
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/_sycl_usm.py
  onedal/tests/test_common.py
  onedal/utils/_array_api.py
  sklearnex/_device_offload.py
  sklearnex/cluster/k_means.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/decomposition/pca.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/coordinate_descent.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/neighbors/common.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @Vika-F, @david-cortes-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Update test_memory_usage.py
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_memory_usage.py (#2656)
  sklearnex/tests/test_memory_usage.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
