Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Change comment
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Change deselection condition
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Move to public tests section
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update comment
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Set sklearnex verbosity to DEBUG in CI
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

ENH: `PCA` via Array API based on #2096 (#2106)
  .ci/scripts/select_sklearn_tests.py
  deselected_tests.yaml
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/pca.py
  onedal/decomposition/tests/test_incremental_pca.py
  sklearnex/decomposition/pca.py
  sklearnex/decomposition/tests/test_pca.py
  sklearnex/preview/decomposition/incremental_pca.py
  sklearnex/preview/decomposition/tests/test_incremental_pca.py
  sklearnex/spmd/decomposition/pca.py
  sklearnex/spmd/decomposition/tests/test_incremental_pca_spmd.py
  sklearnex/spmd/decomposition/tests/test_pca_spmd.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @Vika-F

use internal wrapper as method for prediction object
  daal4py/mb/logistic_regression_builders.py
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust, @david-cortes-intel

FIX: Avoid re-usage of non-reusable daal4py objects (#2665)
  daal4py/mb/logistic_regression_builders.py
  doc/sources/about_daal4py.rst
  tests/test_model_builders.py
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust, @david-cortes-intel, @maria-Petrova, @Alexsandruss, @Vika-F, @syakov-intel, @yuejiaointel, @ethanglaser

Deselect PCA dtype test for sklearn=1.4 (#2666)
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Set sklearnex verbosity to DEBUG in CI
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

prevent logloss from turning to inf in predictions (#2651)
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

update version requirement
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

FIX: Fix error on decision function with GPU arrays (#2650)
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

Sync conda recipe between the repo and conda-forge feedstock
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Sync conda recipe between the repo and conda-forge feedstock (#2672)
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

add ridge to gpu support table
  doc/sources/algorithms.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

add ridge to gpu support table (#2673)
  doc/sources/algorithms.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

temporary deselections due to long-term bug in oneDAL
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update PR template
  .github/Pull_Request_template.md
Owners: @maria-Petrova, @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

Update PR template (#2675)
  .github/Pull_Request_template.md
Owners: @maria-Petrova, @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

try fallback to sklearnex cpu first, document full behavior
  doc/sources/array_api.rst
  doc/sources/conf.py
  doc/sources/substitutions.rst
  onedal/utils/_sycl_queue_manager.py
  requirements-doc.txt
  sklearnex/_device_offload.py
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel, @ethanglaser, @napetrov, @homksei, @ahuber21

try lowering version
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

use simpler extension
  doc/sources/array_api.rst
  doc/sources/conf.py
  requirements-doc.txt
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel, @napetrov, @homksei, @ahuber21, @ethanglaser

fix link
  doc/sources/array_api.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

Update deselected_tests.yaml
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

MAINT: Temporarily deselect failing test until bug is fixed (#2674)
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

don't change SCIPY_ARRAY_API at runtime
  .ci/scripts/run_sklearn_tests.py
  .circleci/run_xpu_tests.py
  sklearnex/_config.py
Owners: @Alexsandruss, @icfaust, @homksei, @ahuber21, @ethanglaser, @Vika-F, @david-cortes-intel

don't change SCIPY_ARRAY_API at runtime (#2679)
  .ci/scripts/run_sklearn_tests.py
  .circleci/run_xpu_tests.py
  sklearnex/_config.py
Owners: @Alexsandruss, @icfaust, @homksei, @ahuber21, @ethanglaser, @Vika-F, @david-cortes-intel

update arg names
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

correct behavior
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

yet another correction
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

yet another correction
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

DOC: Correct argument names for additional tree parameters (#2681)
  doc/sources/guide/acceleration.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

raw inputs support for kneighbors
  onedal/neighbors/neighbors.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
