Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update setup.py
  setup.py
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update setup.py
  setup.py
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update and rename .pytest-verbosity-args to pytest.ini
  .pytest-verbosity-args
  pytest.ini
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel

Update .licenserc.yaml
  .github/.licenserc.yaml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_test.bat
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update run_sklearn_tests.sh
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Update meta.yaml
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_test.bat
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_test.bat
  conda-recipe/run_test.bat
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update run_test.sh
  conda-recipe/run_test.sh
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update _pairwise.py
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @icfaust

Update dal.cpp
  onedal/dal.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update prototype.py
  onedal/tests/prototype.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
