Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Update _array_api.py
  sklearnex/utils/_array_api.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

[fix] Add capability with DLManagedTensorVersioned (#2637)
  onedal/datatypes/_data_conversion.py
  onedal/datatypes/common.hpp
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/dlpack/dlpack.h
  onedal/datatypes/dlpack/dlpack_utils.cpp
  onedal/datatypes/dlpack/dlpack_utils.hpp
  onedal/datatypes/numpy/data_conversion.cpp
  onedal/datatypes/table.cpp
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

sklearnex oneDAL cos and cor distance interface
  onedal/neighbors/neighbors.cpp
  onedal/primitives/__init__.py
  onedal/primitives/correlation_distance.cpp
  onedal/primitives/cosine_distance.cpp
  onedal/primitives/pairwise_distances.hpp
  onedal/primitives/pairwise_distances.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Add support extention to pairwise_distances.hpp
  doc/sources/algorithms.rst
  onedal/primitives/pairwise_distances.hpp
  sklearnex/neighbors/common.py
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel, @ethanglaser

Update test_incremental_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
Owners: @ethanglaser

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update test_incremental_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
Owners: @ethanglaser

Add metrics to reduced sklearn tests
  .ci/scripts/select_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Remove common metrics tests
  .ci/scripts/select_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update pca.py
  sklearnex/decomposition/pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update pca.py
  sklearnex/decomposition/pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Add metrics to reduced sklearn tests (#2658)
  .ci/scripts/select_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

Update test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
Owners: @ethanglaser

Update test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
Owners: @ethanglaser

Update pca.py
  sklearnex/decomposition/pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update pca.py
  sklearnex/decomposition/pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
Owners: @ethanglaser

Update test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
Owners: @ethanglaser

Update test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
Owners: @ethanglaser

Update requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update deselected_tests.yaml
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

many requisite changes
  onedal/covariance/covariance.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

Update test_covariance.py
  onedal/covariance/tests/test_covariance.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

force output to a 0d
  sklearnex/covariance/incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

try to fix test'
  sklearnex/covariance/tests/test_incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

updates
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @Vika-F

[Enhancement] enable array API support in ```EmpiricialCovariance``` and ```IncrementalEmpiricalCovariance``` (#2207)
  onedal/covariance/covariance.py
  onedal/covariance/incremental_covariance.py
  onedal/covariance/tests/test_covariance.py
  sklearnex/covariance/incremental_covariance.py
  sklearnex/covariance/tests/test_incremental_covariance.py
  sklearnex/preview/covariance/covariance.py
  sklearnex/spmd/covariance/covariance.py
  sklearnex/spmd/covariance/tests/test_covariance_spmd.py
  sklearnex/spmd/covariance/tests/test_incremental_covariance_spmd.py
  sklearnex/utils/_array_api.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

add merge and fixes
  deselected_tests.yaml
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

swap based on comments
  onedal/decomposition/incremental_pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

swap based on comments
  sklearnex/preview/decomposition/incremental_pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

add numpy check
  sklearnex/tests/test_patching.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

make testing changes
  onedal/decomposition/incremental_pca.py
  onedal/decomposition/tests/test_incremental_pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

fix reuse of daal4py objects
  daal4py/mb/logistic_regression_builders.py
  doc/sources/about_daal4py.rst
  tests/test_model_builders.py
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust, @david-cortes-intel, @maria-Petrova, @Alexsandruss, @Vika-F, @syakov-intel, @yuejiaointel, @ethanglaser

linter
  doc/sources/about_daal4py.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

Deselect PCA dtype test for sklearn=1.4
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
