Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

formatting and fix
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

simplify logic for codefactor
  onedal/datatypes/dlpack/data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.hpp
  onedal/datatypes/table.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

remove lines
  onedal/datatypes/table.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

remove vestigial copilot suggestion
  onedal/datatypes/table.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

remove confusing name
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

clarify string
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

pybind11 -> py
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fix compilation issue
  onedal/datatypes/table.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fixes
  onedal/datatypes/table.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

remove comments from elsewhere
  onedal/datatypes/table.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fix centering
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

correct sklearn version
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

add link to issue
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

correct default arg for multiclass (#2634)
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

more comprehensive testing for GPU cases
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update renovate.json
  .github/renovate.json
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update renovate.json
  .github/renovate.json
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

MAINT: Deselect failing tests for logistic regression (#2614)
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

FIX: Return correct shape of probabilities from GPU logreg (#2645)
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

fix formatting
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_common.py
  onedal/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

remove unnecessary copy-pastes and dead code
  daal4py/sklearn/linear_model/logistic_path.py
  doc/sources/algorithms.rst
Owners: @Alexsandruss, @icfaust, @maria-Petrova, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

fixes for older sklearn
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

fix formatting
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_common.py
  onedal/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_common.py
  onedal/tests/test_common.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

typo
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update ci.yml
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update renovate.json
  .github/renovate.json
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

remove unnecessary tests
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

Update build-and-test-lnx.yml
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
