Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update test_n_jobs_support.py
  sklearnex/tests/test_n_jobs_support.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

make requested changes
  onedal/tests/prototype.py
  sklearnex/dummy/prototypes.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability.py
  sklearnex/tests/utils/base.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @Vika-F

add checks for SPMD
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

remove NO_DIST where it's not used
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

MAINT: Add `NO_DIST=1` for CI jobs that don't run distributed mode (#2692)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-win.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

TEST: Fix distributed examples not being executed (#2693)
  examples/daal4py/linear_regression_spmd.py
  examples/daal4py/naive_bayes_spmd.py
  examples/daal4py/pca_spmd.py
  examples/daal4py/ridge_regression_spmd.py
  tests/test_daal4py_spmd_examples.py
Owners: @ethanglaser

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Formattingg
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update prototypes.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

formatting
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

remove patching
  sklearnex/dispatcher.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_run_to_run_stability.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

Reduce rows of synthetic large test
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Owners: @ethanglaser

Revert "remove patching"
  sklearnex/dispatcher.py
  sklearnex/tests/test_common.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_n_jobs_support.py
  sklearnex/tests/test_run_to_run_stability.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

fix pickling of GB algos
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update dispatcher.py
  sklearnex/dispatcher.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _dlpack.py
  onedal/datatypes/_dlpack.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update _common.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update logistic_path.py
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

Update _common.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update logistic_path.py
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

attempt to fix
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @icfaust

attempt to fix
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

attempt to fix
  daal4py/sklearn/linear_model/logistic_path.py
Owners: @Alexsandruss, @icfaust

add logistic regression to testing
  .ci/scripts/select_sklearn_tests.py
Owners: @Alexsandruss, @icfaust

formatting
  onedal/datatypes/_dlpack.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

force value of cv
  onedal/datatypes/_dlpack.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

ugly solution
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

remove vestigial newline
  daal4py/sklearn/metrics/_pairwise.py
Owners: @Alexsandruss, @icfaust

isort fixes
  daal4py/sklearn/linear_model/logistic_path.py
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

move imports to respect sklearn versions
  sklearnex/svm/_common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update dummy_onedal.hpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dummy.cpp
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Revert "Update dummy.cpp"
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

try to separate the array business
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

try to separate the array business
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

update search size and only use _spmd_assert_allclose
  sklearnex/spmd/neighbors/tests/test_neighbors_spmd.py
Owners: @ethanglaser

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
