Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust

Exception for license check
  .github/.licenserc.yaml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

bring back deselections
  daal4py/sklearn/linear_model/logistic_path.py
  deselected_tests.yaml
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

try making test run faster
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update dpc installation
  .ci/pipeline/build-and-test-lnx.yml
  .ci/scripts/install_dpcpp.sh
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Include pytest args file in conda-recipe testing
  conda-recipe/meta.yaml
Owners: @napetrov, @Alexsandruss, @icfaust, @david-cortes-intel

require numpy>=2.0.0 for all py versions
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

implement decision function for GPU with array api
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

Revert pip install dpcpp-cpp-rt
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

try again
  onedal/_device_offload.py
  onedal/tests/test_common.py
  onedal/utils/_array_api.py
  sklearnex/decomposition/pca.py
  sklearnex/ensemble/_forest.py
  sklearnex/linear_model/coordinate_descent.py
  sklearnex/linear_model/logistic_regression.py
  sklearnex/neighbors/common.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21, @razdoburdin, @avolkov-intel

upgrade pandas
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

FIX, MAINT: Offload LogisticRegression to sklearn when oneDAL is not used, fix various issues (#2639)
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/linear_model/tests/test_logreg.py
  deselected_tests.yaml
  doc/sources/algorithms.rst
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @maria-Petrova, @Vika-F, @syakov-intel

prevent logloss from turning to inf in predictions
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

fixes
  onedal/_device_offload.py
  sklearnex/decomposition/pca.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

fix KMeans transform issue
  sklearnex/cluster/k_means.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

formatting
  sklearnex/cluster/k_means.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

further fixes
  sklearnex/cluster/k_means.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Change entry point to pass args to sklearn tests
  .ci/scripts/run_sklearn_tests.py
  .ci/scripts/run_sklearn_tests.sh
Owners: @Alexsandruss, @icfaust

Fix typo
  .ci/pipeline/build-and-test-lnx.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update incremental_covariance.py
  onedal/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update install_dpcpp.sh
  .ci/scripts/install_dpcpp.sh
Owners: @Alexsandruss, @icfaust

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update covariance.py
  sklearnex/preview/covariance/covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update incremental_covariance.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

stopping point
  onedal/datatypes/_sycl_usm.py
  sklearnex/linear_model/coordinate_descent.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

loosen tolerance for too large or too small probabilities
  tests/test_model_builders.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

reset requirements-test.txt
  requirements-test.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update ci.yml
  .github/workflows/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

face facts
  onedal/_device_offload.py
  sklearnex/decomposition/pca.py
  sklearnex/linear_model/coordinate_descent.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

clarification
  onedal/_device_offload.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

add renovatebot checks
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/ci.yml
  .github/renovate.json
  sklearnex/decomposition/pca.py
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @Vika-F, @david-cortes-intel

switch source for dpctl/dpnp tracking
  .github/renovate.json
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

fix potential issue with nightly.yml
  .ci/pipeline/build-and-test-lnx.yml
  .github/renovate.json
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

fix bug
  .github/renovate.json
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

forgotten save
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

try and fix CI
  .github/renovate.json
  sklearnex/linear_model/coordinate_descent.py
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @Vika-F, @david-cortes-intel

fix method vs staticmethod issue
  onedal/_device_offload.py
  sklearnex/covariance/incremental_covariance.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel
