Repository uxlfoundation/scikit-learn-intelex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust, @david-cortes-intel, @maria-Petrova, @napetrov, @Vika-F, @syakov-intel, @yuejiaointel, @razdoburdin, @avolkov-intel

.github/CODEOWNERS:

# Infra and tools
.*                            @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust @david-cortes-intel
.ci/                          @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.circleci/                    @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust
.github/                      @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
doc/                          @maria-Petrova @Alexsandruss @icfaust @david-cortes-intel @Vika-F @syakov-intel @yuejiaointel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel 

# sklearnex
onedal/                       @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel
sklearnex/                    @Alexsandruss @icfaust @ethanglaser @Vika-F @david-cortes-intel

# Examples
examples/                     @syakov-intel @Alexsandruss @napetrov @david-cortes-intel

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss @icfaust @david-cortes-intel
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust @david-cortes-intel

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
daal4py/mb/                   @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel
src/gbt_model_builder*        @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Forests
*ensemble*                    @razdoburdin @ahuber21 @avolkov-intel @icfaust @david-cortes-intel

# Testing
**/test*.py                   @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
deselected_tests.yaml         @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser
tests/                        @Alexsandruss @icfaust @yuejiaointel @david-cortes-intel @ahuber21 @ethanglaser

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

add many changes
  onedal/tests/dummy.cpp
  onedal/tests/fake_onedal.hpp
  onedal/tests/prototype.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

rename file for clarity
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
  onedal/tests/prototype.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

break
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

fix issues
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

fix issues
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

break
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

more info
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

more info
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update test_data.py
  onedal/datatypes/tests/test_data.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update _data_conversion.py
  onedal/datatypes/_data_conversion.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

more careful conditions around versioning
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

fix version
  daal4py/sklearn/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust

stopping point
  onedal/tests/dummy.cpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

set -e to catch errors
  .ci/pipeline/docs.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

set -e to catch errors (#2643)
  .ci/pipeline/docs.yml
Owners: @Alexsandruss, @homksei, @ahuber21, @ethanglaser, @icfaust

Update requirements-doc.txt
  requirements-doc.txt
Owners: @napetrov, @Alexsandruss, @homksei, @ahuber21, @ethanglaser

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

note about the icd package under conda
  doc/sources/oneapi-gpu.rst
Owners: @maria-Petrova, @Alexsandruss, @icfaust, @david-cortes-intel, @Vika-F, @syakov-intel, @yuejiaointel

add some clarity on what the heck is happening in compilation
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

Update data_conversion.cpp
  onedal/datatypes/dlpack/data_conversion.cpp
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

breakpoint
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

breakpoint
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

first corrections
  onedal/tests/dummy.cpp
  onedal/tests/dummy_onedal.hpp
  onedal/tests/prototype.py
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @Vika-F

small fix
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

codespell fixes
  onedal/tests/dummy_onedal.hpp
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser, @Vika-F

fix shapes of prediction outputs
  onedal/linear_model/logistic_regression.py
  sklearnex/linear_model/tests/test_logreg.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel, @yuejiaointel, @ahuber21

further updates
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel

ugh
  onedal/tests/dummy_onedal.hpp
Owners: @Alexsandruss, @icfaust, @yuejiaointel, @david-cortes-intel, @ahuber21, @ethanglaser

fixes
  sklearnex/dummy/prototypes.py
Owners: @Alexsandruss, @icfaust, @ethanglaser, @Vika-F, @david-cortes-intel
