Repository uxlfoundation/scikit-learn-intelex, pull requests merged in 2020-06, with the labels that each got.

#238 Add support thunder SVM method and weights for IDP sklearn
  daal4py/sklearn/svm/_svm_0_21.py
  daal4py/sklearn/svm/_svm_0_22.py
  daal4py/sklearn/svm/_svm_0_23.py
  examples/svm_batch.py
Labels: sklearn-patch

#215 Train test split optimizations
  daal4py/sklearn/__init__.py
  daal4py/sklearn/model_selection/__init__.py
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  generator/format.py
  generator/wrapper_gen.py
  setup.py
  src/daal4py.cpp
  src/daal4py.h
Labels: sklearn-patch

#239 Updated example for SVM
  examples/svm_batch.py
  tests/test_examples.py
Labels: good first issue

#240 Added information in documentation about verbose
  doc/sklearn.rst
Labels: documentation

#234 Removing pandas conversion in Linear Regression
  daal4py/sklearn/_utils.py
  daal4py/sklearn/linear_model/_linear_0_21.py
  daal4py/sklearn/linear_model/_linear_0_22.py
  daal4py/sklearn/linear_model/_linear_0_23.py
  daal4py/sklearn/linear_model/tests/test_linear.py
  daal4py/sklearn/utils/__init__.py
  daal4py/sklearn/utils/base.py
  daal4py/sklearn/utils/validation.py
Labels: sklearn-patch
