Repository uxlfoundation/scikit-learn-intelex, pull requests merged in 2020-11, with the labels that each got.

#370 OneAPI extension enabled on Windows
  examples/run_examples.py
  src/oneapi/oneapi.pyx
Labels: oneAPI

#360 t-SNE Patching
  daal4py/sklearn/__init__.py
  daal4py/sklearn/manifold/__init__.py
  daal4py/sklearn/manifold/_t_sne.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  setup.py
Labels: sklearn-patch

#397 Enable float32 for DBSCAN
  daal4py/sklearn/cluster/_dbscan_0_21.py
  daal4py/sklearn/cluster/_dbscan_0_22.py
Labels: bug, sklearn-patch

#408 Improve probabilities for svc & fix tests for master sklearn
  daal4py/sklearn/svm/_svm_0_23.py
Labels: sklearn-patch
