Repository uxlfoundation/scikit-learn-intelex, pull requests merged in 2020-08, with the labels that each got.

#252 Update example for thunder method
  conda-recipe/meta.yaml
  deselected_tests.yaml
  examples/svm_batch.py
  examples/svm_multiclass_batch.py
Labels: examples

#242 Add information in documentation about patching by environment variable
  doc/sklearn.rst
Labels: documentation

#261 Add _validate_center_shape function in kmeans 0.23 wrapper
  daal4py/sklearn/cluster/_k_means_0_23.py
Labels: sklearn-patch

#259 Scikit-learn API doc update
  _modules/index.html
  _sources/sklearn.rst.txt
  _static/basic.css
  _static/doctools.js
  _static/documentation_options.js
  _static/jquery-3.5.1.js
  _static/jquery.js
  _static/language_data.js
  _static/searchtools.js
  algorithms.html
  contents.html
  data.html
  examples.html
  genindex.html
  index.html
  objects.inv
  scaling.html
  search.html
  searchindex.js
  sklearn.html
  streaming.html
Labels: documentation

#263 Fix sklearn tests for kmeans
  daal4py/sklearn/cluster/_k_means_0_23.py
  deselected_tests.yaml
Labels: sklearn-patch

#265 adding csr support to kmeans
  .gitignore
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/cluster/k_means.py
Labels: sklearn-patch

#268 Fix LinearRegression tests for scikit-learn v0.24
  daal4py/sklearn/linear_model/_linear_0_24.py
  daal4py/sklearn/linear_model/linear.py
Labels: sklearn-patch
