Repository uxlfoundation/scikit-learn-intelex, pull requests merged in 2020-09, with the labels that each got.

#272 Add new deselected test for ridge regression
  deselected_tests.yaml
Labels: sklearn-patch

#250 Support probability, decision function and CSR input format for SVC
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/svm/_svm_0_23.py
  deselected_tests.yaml
  generator/gen_daal4py.py
  generator/wrappers.py
  src/daal4py.cpp
Labels: sklearn-patch

#273 XGBoost / LightGBM to DAAL converters + examples
  conda-recipe/meta.yaml
  examples/gbt_cls_model_create_from_lightgbm_batch.py
  examples/gbt_cls_model_create_from_xgboost_batch.py
  examples/run_examples.py
  generator/gen_daal4py.py
  generator/wrapper_gen.py
  src/gbt_convertors.pyx
  tests/test_examples.py
Labels: enhancement

#276 [WIP] Add Decision Forest wrapper
  daal4py/sklearn/ensemble/__init__.py
  daal4py/sklearn/ensemble/_forest_0_23.py
  daal4py/sklearn/ensemble/decision_forest.py
  daal4py/sklearn/ensemble/forest.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  deselected_tests.yaml
  tests/test_estimators.py
Labels: sklearn-patch

#255 Unsupervised and classification kNN patching
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/neighbors/__init__.py
  daal4py/sklearn/neighbors/kdtree_knn_classifier.py
  daal4py/sklearn/neighbors/knn.py
  generator/wrappers.py
Labels: sklearn-patch

#284 Fix daal version for DF
  daal4py/sklearn/ensemble/__init__.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  generator/wrappers.py
Labels: sklearn-patch

#288 Fit Method for kNN
  daal4py/sklearn/neighbors/knn.py
  deselected_tests.yaml
Labels: sklearn-patch

#306 Interoperability with dpctl
  conda-recipe/bld.bat
  conda-recipe/meta.yaml
  examples/run_examples.py
  examples/sycl/bf_knn_classification_batch.py
  examples/sycl/covariance_batch.py
  examples/sycl/covariance_streaming.py
  examples/sycl/dbscan_batch.py
  examples/sycl/gradient_boosted_regression_batch.py
  examples/sycl/kmeans_batch.py
  examples/sycl/linear_regression_batch.py
  examples/sycl/log_reg_binary_dense_batch.py
  examples/sycl/log_reg_dense_batch.py
  examples/sycl/low_order_moms_dense_batch.py
  examples/sycl/low_order_moms_streaming.py
  examples/sycl/pca_batch.py
  examples/sycl/pca_transform_batch.py
  examples/sycl/sklearn_sycl.py
  examples/sycl/svm_batch.py
  generator/wrapper_gen.py
  setup.py
  src/dpctl_interop/daal_context_service.cpp
  src/dpctl_interop/daal_context_service.h
  src/dpctl_interop/dpctl_interop.pyx
  src/oneapi/oneapi.h
  src/oneapi/oneapi.pyx
Labels: oneAPI
