Repository uxlfoundation/scikit-learn-intelex, pull requests merged in 2021-05, with the labels that each got.

#641 Some fixes before sklearn 1.0
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/linear_model/_linear_0_24.py
  daal4py/sklearn/linear_model/_ridge_0_22.py
  daal4py/sklearn/linear_model/logistic_path.py
  daal4py/sklearn/manifold/_t_sne.py
Labels: sklearn-patch, testing

#645 Fix get_decision_function
  onedal/svm/backend/svm_py.cpp
Labels: onedal iface

#650 Clean deprecations for scikit-learn 1.0 | Kmeans
  daal4py/sklearn/cluster/_k_means_0_23.py
Labels: sklearn-patch

#648 Serialize support for new interfaces
  onedal/common/backend/pickling.h
  onedal/svm/backend/svm_py.cpp
  onedal/svm/backend/svm_py.h
  onedal/svm/svm.pxi
  onedal/svm/svm.pyx
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
Labels: onedal iface

#649 to_daal_nt: shared pointer changed to raw pointer
  src/oneapi/oneapi_backend.cpp
Labels: oneAPI

#653 daal4py.oneapi module import fix
  daal4py/oneapi/__init__.py
Labels: oneAPI

#625 New SVC and SVR Patching; Move patching tests to sklearnex
  conda-recipe/run_test.sh
  daal4py/sklearn/monkeypatch/dispatcher.py
  deselected_tests.yaml
  onedal/backend/data/data.cpp
  onedal/common/__init__.py
  onedal/common/validation.py
  onedal/svm/__init__.py
  onedal/svm/backend/svm_py.cpp
  onedal/svm/svm.py
  setup.py
  sklearnex/__init__.py
  sklearnex/_utils.py
  sklearnex/dispatcher.py
  sklearnex/svm/_common.py
  sklearnex/svm/svc.py
  sklearnex/svm/svm.py
  sklearnex/svm/svr.py
  sklearnex/svm/tests/test_svm.py
  sklearnex/tests/_models_info.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/tests/test_monkeypatch.py
  sklearnex/tests/test_patching.py
  sklearnex/tests/test_run_to_run_stability_tests.py
Labels: sklearn-patch, testing

#656 Fix of oneapi module import for python 3.8, 3.9
  daal4py/oneapi/__init__.py
Labels: bug, oneAPI

#661 Add Leverage Intel Optimizations in Scikit-Learn article
  README.md
Labels: documentation

#659 Clean deprecations for scikit-learn 1.0 | kNN
  daal4py/sklearn/neighbors/_base.py
  daal4py/sklearn/neighbors/_classification.py
  daal4py/sklearn/neighbors/_regression.py
Labels: sklearn-patch, testing

#662 Fix perf issues for svm's in new API
  onedal/svm/svm.py
Labels: onedal iface

#660 Fix problem with big estimators; refactoring tests for random forest
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
Labels: bug, testing

#665 Update build with cmake
  scripts/CMakeLists.txt
  scripts/build_backend.py
Labels: infra

#647 Update required dependencies for support dpcpp and mpi
  README.md
  daal4py/README.md
  daal4py/__init__.py
  daal4py/oneapi/__init__.py
  requirements-test.txt
  requirements.txt
  setup_sklearnex.py
Labels: infra

#638 Support CSR table for new interfaces Python
  deselected_tests.yaml
  onedal/backend/data/data.cpp
  onedal/backend/data/utils.h
  onedal/common/validation.py
  onedal/svm/svm.py
  onedal/svm/tests/test_csr_svm.py
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
  requirements-test.txt
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Labels: onedal iface

#669 Support empty support vectors; Fix decision function tests
  deselected_tests.yaml
  onedal/backend/data/data.cpp
  onedal/svm/svm.py
  onedal/svm/tests/test_svc.py
  onedal/svm/tests/test_svr.py
Labels: bug
